<div class="row">
  <div class="col-md-6">
    <h2>SHL-tabellen</h2>
    <table class="standings table table-striped">
      <tr>
        <th>#</th>
        <th>Team</th>
        <th></th>
        <th>+/-</th>
        <th>GP</th>
        <th>P</th>
      </tr>
      {{#each teams}}
        <tr>
          <td class="position">{{inc @index}}</td>
          <td class="team">
            {{this.team_code}}
            {{#if (isBif this.team_code)}}
              <span class="glyphicon glyphicon-heart-empty"></span>
            {{/if}}
          </td>
          <td class="logo">
            <img src="/static/img/logos/{{this.team_code}}.jpg" height="20">
          </td>
          <td class="diff">{{this.diff}}</td>
          <td class="gp">{{this.gp}}</td>
          <td class="points">{{this.points}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
  <div class="col-md-6">
    <h2>Dagens matcher</h2>
    <table class="games table table-striped">
      <tr>
        <th>Hemma</th>
        <th></th>
        <th></th>
        <th></th>
        <th>Borta</th>
        <th>Arena</th>
      </tr>
      {{#each games}}
        <tr>
          <td>{{this.home_team_code}}</td>
          <td class="logo">
            <img src="/static/img/logos/{{this.home_team_code}}.jpg" height="20">
          </td>
          <td>{{this.home_team_result}}</td>
          <td>vs.</td>
          <td>{{this.away_team_result}}</td>
          <td class="logo">
            <img src="/static/img/logos/{{this.away_team_code}}.jpg" height="20">
          </td>
          <td>{{this.away_team_code}}</td>
          <td>{{this.venue}}</td>
        </tr>
      {{/each}}
    </table>

    <h2>Senaste nytt</h2>
    <table class="articles table table-striped">
      {{#each articles}}
        <tr>
          <td class="logo">
            <img src="/static/img/logos/{{this.team_code}}.jpg" height="20">
          </td>
          <td><a href="{{this.article_url}}">{{this.title}}</a></td>
          <td>{{this.publush_date}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>

<!--
<script>
  setTimeout(function() {
    window.location.href = "http://localhost:1337";
  }, 30000);
</script>-->
